$primary: #67AEFC;
$gray: #DAECFF;
$dark-blue: #6D79EF;
$green: #75E169;

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

.container {
    max-width: 1170px;
    width: 80%;
    margin: 0 auto;
    height: 100%;
}

.wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.green-btn {
    background-color: $green;
    color: #fff;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 800;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    width: 270px;
    height: 60px;
   
}

.green-btn:hover {
    outline: 2px $primary solid;
}

.green-btn:active {
    background-color: $primary;
}

.nowrap {
    white-space: nowrap;
}

/* Header */

header {
    background: $primary;
    height: 10vh;
    min-height: 80px;
}

.logo {
    cursor: pointer;
}

.menu {

    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    li {
        margin-right: 30px;
        position: relative;
    }

    li::after {
        content: "";
        width: 100%;
        height: 2px;
        display: block;
        background-color: #fff;
        position: absolute;
        bottom: -2px;
        right: 0;
        transition: ease-in 0.2s;
        transform: scale(0);
    }

    a {
        font-size: 16px;
        color: #fff;
        font-weight: 600;
    }

    li:hover:after {
        transform: scale(1);
    }

    &-dots {
        display: none;
    }
    
}

button.order-menu {
    width: 170px;
    height: 37px;
}

button.order-menu:hover {
    outline: 2px #fff solid;
}

button.order-menu:active {
    background-color: #fff;
    color: $primary;
}

/* Start*/ 

#start {
    position: relative;
    height: 90vh;
    overflow: hidden;
}

.ellipse-left {
    position: absolute;
    left: 0;
    bottom: 10%;
    z-index: -1;
}

.wave-purple-start {
    position: absolute;
    left: 65px;
    bottom: calc(10% + 54px);
    z-index: -1;
}

.ellipse-rigth {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
}

h1 {
    font-weight: 900;
    font-size: 50px;
    line-height: 125%;
    color: #484848;
    margin-bottom: 20px;
}

.start {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;

    &__text-block {
        position: relative;
        z-index: 10;
    }

    &__text {
        line-height: 140%;
        margin-bottom: 58px;
        max-width: 432px;
        font-size: 16px;
    }

    &__img {
        position: absolute;
        top: 50%;
        right: -15%;
        transform: translateY(-50%);
        z-index: 1;

        img {
            width: 770px;
            height: 610px;
        }
    }
}

.top-left-sphere{
    position: absolute;
    left: 12%;
    top: 120px;
}

/* Services*/

#services {
    background-color: $gray;
    padding: 120px 0;
    position: relative;
}

h3 {
    font-weight: 800;
    font-size: 32px;
    color: #111111;
    text-align: center;
    margin-bottom: 80px;
    hyphens: none;
}

.acor-container {
    margin: 20px 0;
}

.acor-body {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    background-color: #fff;
    margin-bottom: 10px;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    z-index: 10;
}

.acor-text {
    line-height: 175%;
    max-height: 0;
    transition: ease-in-out 0.3s;
    margin: 0 56px;
    padding-left: 40px;
    position: relative;
}

.acor-text::before {
    content: "";
    display: block;
    height: calc(100% + 20px);
    width: 1px;
    background-color: #000;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.acor-container label {
    cursor: pointer;
    background-color: #fff;
    display: block;
    padding: 15px 44px;
    width: 100%;
    font-weight: 400;
    z-index: 10;
    font-size: 18px;
    position: relative;
}

.acor-container input{
    display: none;
}

.acor-container label:after {
    display: inline-block;
    content: "";
    width: 24px;
    height: 24px;
    background-color: $green;
    border-radius: 50%;
    float: left;
    margin-right: 25px;
}

.acor-container label:before {
    content: '';
    width: 14px;
    height: 14px;
    border-right: 2px solid #000;
    border-top: 2px solid #000;
    font-size: 30px;
    position: absolute;
    right: 58px;
    top: 33px;
    transform-origin: top right;
    transform: rotate(135deg);
    
}

.acor-container input:checked + label {
    font-weight: 700;
    font-size: 18px;
    border-radius: 15px 15px 0 0;
}

.acor-container input:checked + label:after {
    background-color: $primary;
}

.acor-container input:checked + label:before {
    border-right: none;
    border-top: none;
    border-bottom: 2px solid #000;
    border-left: 2px solid #000;
    margin-top: 10px;
}

.acor-container input:checked + label + .acor-text {
    max-height: 500px;
    transition: 0.3s;
    margin-top: 44px;
    margin-bottom: 44px;
}

.bag {
    position: absolute;
    right: 5%;
    bottom: 60px;
}

/* Этапы*/

#stages {
    padding: 120px 0 270px 0;
    overflow: hidden;
    position: relative;
}

div.slider__item {
    margin: 0 12px;
}

.slider__item-wrap {
    width: 675px;
    height: 390px;
    padding: 85px 33px 65px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    border: 2px solid $primary;
    border-radius: 15px;
}

h4 {
    font-weight: 700;
    font-size: 21px;
    line-height: 125%;
    margin-bottom: 20px;
}

.slider__text {
    line-height: 140%;
}

div.slick-list {
    overflow: visible;
}

.arr-next, .arr-previous {
    display: block;
    position: absolute;
    bottom: -144px;
    width: 60px;
    height: 60px;
    border-radius: 15px;
    border: 2px solid $primary;
    cursor: pointer;
    background-color: transparent;
}

.arr-next:hover, .arr-previous:hover {
    background-color: $primary;
}

.arr-next {
    right: calc(50% - 45px);
    transform: translateX(50%);
}

.arr-previous {
    right: calc(50% + 45px);
    transform: translateX(50%);
}

.arr-next::after, .arr-previous::after {
    content: " ";
    display: block;
    width: 16px;
    height: 16px;
    border-right: 2px solid #000;
    border-top: 2px solid #000;
    position: absolute;
    top: 20px;
}

.arr-next::after {
    transform: rotate(45deg);
    left: 17px;
}

.arr-previous::after {
    transform: rotate(-135deg);
    right: 17px;
}

.wave-blue {
    position: absolute;
    bottom: 40px;
    right: 10%;
}

/* Portfolio */

#portfolio {
    padding: 120px 0;
    background-color: $gray;
    position: relative;
}

.portfolio-items {
    width: fit-content;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 38px;
    position: relative;
    z-index: 10;
}

.portfolio-items__group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 38px;
}

.img-portfolio {
    border-radius: 15px;
    width: 520px;
    height: 420px;
}

.portfolio-items__hover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.hover-item {
    position: absolute;
    width: 520px;
    height: 420px;
    background-color: $primary;
    border-radius: 15px;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    z-index: 99;
    transition: opacity 0.2s;
}

.hover-item:hover {
    opacity: 1;
}

.hover-item1 {
    top: 0;
    left: 0;
}

.hover-item2 {
    top: calc(50% - 3px);
    left: 0;
    transform: translateY(-50%);
}

.hover-item3 {
    bottom: 5px;
    left: 0;
}

.hover-item4 {
    top: 0;
    right: 0;
}

.hover-item5 {
    top: calc(50% - 3px);
    right: 0;
    transform: translateY(-50%);
}

.hover-item6 {
    bottom: 5px;
    right: 0;
}

h6 {
    font-weight: 700;
    font-size: 21px;
    margin-bottom: 5px;
}

.wave-pink {
    position: absolute;
    left: 20px;
    top: 300px;
    z-index: 1;
}

.bottom-right-sphere {
    position: absolute;
    right: 10%;
    bottom: 240px;
    z-index: 1;
}

/* Designers */

#designers {
    padding: 200px 0;
    position: relative;
    overflow: hidden;
}

.designers {
    position: relative;
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100%;

    h3 {
        text-align: left;
        grid-column: 1 / 2;
    }

    &__text {
        line-height: 140%;
        margin-bottom: 45px;
        max-width: 670px;
        font-size: 18px;
        grid-column: 1 / 2;
    }

    button {
        grid-column: 1 / 2;
    }

    &__img {
        position: absolute;
        top: 50%;
        right: -15%;
        transform: translateY(-50%);
        z-index: -1;

        img {
            width: 690px;
            height: 480px;
        }
    }
}

/* Speak */

#speak {
    padding: 180px 0 120px 0;
    background-color: $gray;
    position: relative;
}

.speak {
    text-align: center;
    margin: 0 auto;
    max-width: 480px;
    position: relative;
    z-index: 10;

    h3 {
        margin-bottom: 20px;
    }

    &__text {
        line-height: 175%;
        color: #111111;
        margin-bottom: 27px;
    }

    &__input {
        width: 100%;
        padding: 19px 14px;
        margin-bottom: 20px;
        font-size: 16px;
        border: 1px solid $primary;
        border-radius: 15px;
        color: #363636;;
    }

    &__input-error {
        outline: 2px solid #cc0000;
        margin-bottom: 5px;
    }

    &__error {
        display: none;
        margin-bottom: 10px;
        color: #cc0000;
        font-size: 12px;
    }

    &__input::placeholder {
        color: #939393;
    }

    &__input:focus {
        outline: 1px solid $primary;
    }

    button {
        margin-top: 30px;
    }
}

.phone {
    position: absolute;
    top: 55%;
    left: 10%;
    transform: translateY(-50%);
}

.wave-purple-speak {
    position: absolute;
    top: 45%;
    right: 12%;
    transform: translateY(-50%) scale(-1, 1) rotate(10deg);
}

.white-sphere-speak {
    position: absolute;
    top: 53%;
    right: 12%;
    transform: translateY(-50%);
}

/* Footer */

footer {
    padding: 100px 0 80px 0;
    background-color: $primary;
}

.footer {
    color: #fff;

    &-above {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 120px;
        justify-items: center;
    }

    &-logo {
        align-self: start;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    &-links {
        width: 240px;
        align-self: end;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        display: flex;
        justify-content: space-between;
        padding-top: 45px;
    }

    &__link:hover .link-icon {
        fill: $dark-blue;
    }

    &-center {
        grid-column: 2 / 3;
        grid-row: 1 / 2;

        &__contact {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 10px;
            margin-bottom: 10px;
            font-size: 20px;

            a {
                color: #fff;
            }
        }
    }

    &-right {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }

    &__copyright {
        text-align: center;
        margin-top: 120px;
    }
}

@media screen and (max-width: 1450px) {

    .start__img img {
        width: 650px;
        height: 530px;
    }

    .designers__img img {
        width: 600px;
        height: 400px;
    }

    .phone {
        left: 4%;
        width: 229px;
        height: 239px;
    }
}

@media screen and (max-width: 1650px) { 

    .slider__item-wrap {
        width: 600px;
        height: 380px;
        padding: 60px 40px;
    }

    .slider__img {
        width: 200px;
        height: 200px;
    }

    .wave-pink {
        top: 14px;
        width: 150px;
        height: 160px;
    }

    .bottom-right-sphere {
        right: 3%;
    }
}

@media screen and (max-width: 1450px) { 

    .slider__item-wrap {
        width: auto;
        height: 400px;
        padding: 60px 40px;
    }

    .slider__text {
        font-size: 16px;
    }

    .img-portfolio {
        width: 460px;
        height: 390px;
    }
    
    .hover-item {
        width: 460px;
        height: 390px;
    }
}


@media screen and (max-width: 1250px) {

    body {
        font-size: 16px;
    }
    
    .container {
        width: 85%;
    }

    h1 {
        font-size: 40px;
    }

    h3 {
        font-size: 26px;
        margin-bottom: 60px;
    }

    button.order-menu {
        width: 140px;
        height: 33px;
    }

    .green-btn {
        width: 250px;
        height: 55px;
    }

    .designers__text {
        max-width: 570px;
        font-size: 16px;
    }

    .bottom-right-sphere {
        right: 10px;
    }
    
}

@media screen and (max-width: 1150px) {

    .logo {
        width: 200px;
        height: 55px;
    }

    .ellipse-rigth {
        width: 410px;
    }

    .ellipse-left {
        bottom: 1%;
    }

    .wave-purple-start {
        bottom: calc(1% + 54px);
    }

    .start__img img {
        width: 500px;
        height: 460px;
    }

    h3 {
        max-width: 700px;
        margin: 0 auto 50px auto;
    }

    .bag {
        right: 1%;
        bottom: 13px;
    }

    .top-left-sphere {
        left: 7%;
        top: 39px;
    }

    .slider__item-wrap {
        width: 600px;
        height: 350px;
    }

    .img-portfolio {
        width: 360px;
        height: 330px;
    }
    
    .hover-item {
        width: 360px;
        height: 330px;
    }

    .hover-item2 {
        top: calc(50% - 3px);
        left: 0;
        transform: translateY(-50%);
    }

    .hover-item3 {
        bottom: 4px;
        left: 0;
    }
    
    .hover-item5 {
        top: calc(50%);
        right: 0;
        transform: translateY(-50%);
    }
    
    .hover-item6 {
        bottom: 4px;
        right: 0;
    }

    .designers__text {
        max-width: 470px;
    }

    .designers__img img {
        width: 500px;
        height: 350px;
    }

    .phone {
        width: 189px;
        height: 190px;
    }

    .wave-purple-speak {
        right: 2%;
    }

    .white-sphere-speak {
        right: 2%;
    }

    .footer-center__contact {
        font-size: 16px;
    }

    .footer-links {
        width: 200px;
    }
}

@media screen and (max-width: 950px) {

    .menu li {
        margin-right: 20px;
    }

    .menu a {
        font-size: 14px;
    }

    h1 {
        font-size: 30px;
    }

    .start__text {
        margin-bottom: 38px;
        max-width: 332px;
        font-size: 14px;
    }

    .start__img {
        right: -5%;
    }

    .start__img img {
        width: 450px;
        height: 420px;
    }

    .ellipse-rigth {
        width: 310px;
    }

    #services {
        padding: 80px 0 100px 0;
    }

    .bag {
        width: 90px;
        height: 100px;
    }

    #stages {
        padding: 80px 0 170px 0;
    }

    .arr-next, .arr-previous {
        bottom: -100px;
    }

    #portfolio {
        padding: 80px 0;
    }

    .img-portfolio {
        width: 300px;
        height: 280px;
    }
    
    .hover-item {
        width: 300px;
        height: 280px;
    }

    #designers {
        padding: 120px 0;
    }

    .designers__img img {
        width: 400px;
        height: 300px;
    }

    .designers__text {
        max-width: 400px;
    }

    #speak {
        padding: 80px 0;
    }

    .phone {
        top: auto;
        bottom: 5px;
        left: 30px;
        transform: translateY(0);
    }

    .wave-purple-speak {
        top: auto;
        bottom: 90px;
        right: 30px;
        transform: translateY(0) scale(-1, 1) rotate(10deg);
    }

    .white-sphere-speak {
        top: auto;
        bottom: 30px;
        right: 30px;
        transform: translateY(0);
    }

    footer {
        padding: 80px 0 60px 0;
    }

    .footer-above {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 120px;
    }

    .footer-right {
        grid-column: 1/3;
        grid-row: 2/3;
        margin-top: 50px;
    }

    .footer__copyright {
        margin-top: 60px;
    }
}

@media screen and (max-width: 850px) {

    header {
        position: relative;
        z-index: 100;
    }

    .menu {
        display: block;
        position: absolute;
        top: 80px;
        right: 0;
        left: 0;
        background-color: $primary;
        z-index: 99;
        transform: translateY(-200%);
        transition: transform .3s;

        ul {
            flex-direction: column;
            gap: 60px;
            padding: 60px 0;  
        }

        a {
            font-size: 17px;
            font-weight: 800;
        }
    }

    .menu-active  {
        transform: translateY(0);
    }

    .menu-dots {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 5px;
        cursor: pointer;
        margin-right: 50px;
        position: relative;
        z-index: 100;
    }

    .menu-dots__item {
        width: 13px;
        height: 13px;
        background-color: #fff;
        border-radius: 50%;

    }

    .logo {
        position: relative;
        z-index: 100;
    }

    button.order-menu {
        position: relative;
        z-index: 100;
    }

    #start {
        overflow: visible;
    }

    .start {
        flex-direction: column;
    }

    .start__img {
        position: static;
        transform: translateY(0) rotate(17deg);
        z-index: 1;
        order: 1;
    }

    .start__img img {
        width: 500px;
    }

    .start__text-block {
        order: 2;
    }

    .ellipse-rigth {
        top: 280px;
    }

    .ellipse-left {
        top: 30px;
    }

    .top-left-sphere {
        display: none;
    }

    .wave-purple-start {
        bottom: auto;
        top: 400px;
        left: 25px;
        transform: scale(-1, 1);
    }

    .start__text-block {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
        text-align: center;
    }

    h1 {
        font-size: 36px;
    }

    .start__text {
        margin-bottom: 38px;
        max-width: 532px;
        font-size: 14px;
    }

    .acor-container label {
        padding: 12px 20px;
        font-size: 16px;
    }

    .acor-container label:before {
        width: 10px;
        height: 10px;
        right: 38px;
        top: 33px;
    }

    #portfolio {
        padding: 80px 0 150px 0;
    }

    #portfolio div.slick-list {
        overflow: hidden;
    }

    .portfolio-items {
        width: auto;
        margin: 0;
        display: block;
        position: relative;
        z-index: 10;
    }

    .portfolio-items__group a {
        display: block;
        margin-bottom: 30px;
        margin-right: 30px;
    }

    .portfolio-items__hover {
        position: static;
        height: auto;
        width: auto;
    }

    .img-portfolio {
        margin: 0 auto;
    }

    .hover-item {
        position: static;
        width: 300px;
        height: 280px;
        opacity: 1;
        z-index: 99;
        transition: none;
        transform: none;
        margin: 0 auto 30px auto;
        text-align: center;
    }

    .designers {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .designers h3 {
        text-align: center;
        order: 1;
    }

    .designers__text {
        max-width: none;
        order: 3;
        text-align: center;
        font-size: 20px;
    }

    .designers__img {
        position: static;
        transform: none;
        order: 2;
        margin-bottom: 50px;
    }

    .designers button {
        order: 4;
    }
}

@media screen and (max-width: 700px) {

    .slider__item-wrap {
        width: 400px;
        height: 500px;
        flex-direction: column;
    }

    .wave-blue {
        display: none;;
    }

    .wave-pink {
        display: none;
    }

    .phone {
        width: 120px;
        height: 120px;
        left: 10px;
    }

    .wave-purple-speak {
        bottom: 50px;
        width: 120px;
        height: 50px;
    }

    .white-sphere-speak {
        width: 40px;
        height: 40px;
    }

    .footer-above {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        gap: 30px;
    }

    .footer-logo {
        align-self: center;
        order: 1;
    }

    .footer-links {
         align-self: center;
         padding: 0;
         order: 3;
    }

    .footer-center {
        order: 2;
    }

    .footer-right {
        margin-top: 0;
        order: 4;
    }

    
}
